---

<<<<<<< HEAD
import { siteConfig } from '../config'
=======
import { siteConfig } from "../config";
>>>>>>> upstream/main
---

<div id="config-carrier" data-hue={siteConfig.themeColor.hue}>
</div>
